* {
    box-sizing: border-box;
}


/* Font and Style Rules */

h1,
h2,
h3 {
    font-family: "Just Another Hand", cursive;
    letter-spacing: 4px;
    font-size: 30px;
    color: #daa520;
    text-shadow: 1px 1px #fafafa;
    text-transform: capitalize;
}

p {
    font-size: 18px;
    font-family: "Noto Sans Jp", sans-serif;
}

a {
 color: #daa520;
}

hr {
    border: 2px solid #daa520;
}

mark {
    background-color: #daa520;
}

/* The Navigation Bar */
.nav-container {
    padding: 0;
}
.navbar {
    background-color: #323232;
    opacity: 0.9;
    border: 1px solid #daa520;
    width: 100vw;
    height: auto;
    position: fixed; 
    z-index: 99;
}

@media screen and (max-width: 992px) {
    .navbar {
        position: relative;
    }
}

.navbar .logo-title {
    text-decoration: none;
    font-family: "Just Another Hand", sans-serif;
    font-size: 30px;
    color: #daa520;
    text-shadow: 0.5px 0.5px #fafafa;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.navbar-toggler i {
    color: #fafafa;
}

.navbar .collapse .navbar-collapse {
    background-color: #323232;
    opacity: 0.9;
    border: 1px solid #daa520;
}


.navbar .nav-link {
    color: #fafafa;
    font-weight: 600;
    margin: 0 15px 0 15px;
    letter-spacing: 2px;
}

.navbar .nav-link:hover {
    background-color: #daa520;
    border-radius: 10px;
}


/* --- Cover Image */
#cover-bg-img {
    height: 60vh;
    width: 100vw;
    margin-right: 0;

    background-image: url("../images/other-vegan-pancakes.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}


#cover-img-container {
    height: 60vh;
    width: 100vw;
    margin-right: 0;
}

/* ------- Cover Img CTA btn  ---- */

.order-cta-container {
    background-color: #323232;
    opacity: 0.9;
    color: #daa520;
    border: 1px solid #daa520;
    text-align: center;
    margin-bottom: 25px;
    padding: 0;
    position: absolute;

}

.order-cta-container .btn, .btn-dark {
    margin-bottom: 0.5vw;
    padding: 0.25vw;
    background-color: #daa520;
    color: #fafafa;
    border: 2px solid #fafafa;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.25vw;
    
}

.order-cta-container .btn:hover {
    margin-bottom: 0.5vw;
    padding: 0.25vw;
    background-color: #fafafa;
    color: #daa520;
    border: 2px solid #daa520;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.25vw;
}

/* About Us Section ------------------------------------------------ */
.opening-bio {
    border-width: 0.5px 1px 0.5px 1px; 
    border-style: solid;
    border-color:#daa520;

    margin: 0;
    padding: 0;
}
/* --- Bio */
.short-bio {
    background-color: #323232;
    color: #fafafa;
}

/* --- Opening Times */
.opening-bio .opening-times {
    background-color: #323232;
    color: #fafafa;
}

/* Why Visit Us? */

.why-us-container {
    border-width: 0.5px 1px 0.5px 1px;
    border-style: solid;
    border-color:#daa520;

    margin-top: 0;
    padding-top: 0;
}
.why-us-bg-img {
    background-image: url("../images/dutch-apple-pie.webp");
    filter: saturate(75%);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 20px;
    
}

.why-us-title {
    padding: 25px;
    color: #daa520;
    font-weight: 800;
}

.why-us-title h3 {
    border: 5px solid #daa520;
    background-color: #323232;
    opacity: 0.9;
}

.why-us-container .col {
    border: 5px solid #daa520;
    text-align: center;
    background-color: #323232;;
    opacity: 0.9;
}

.why-us-container h5 {
    font-size: 24px;
    font-weight: 700;
    color: #daa520;
    text-shadow: 1px 1px #fafafa;
}

.why-us-container .col i {
    font-size: 42px;
    color: #daa520;
    text-shadow: 2px 2px #fafafa;
}

/* Newsletter Sign Up Container */
.newsletter-container {
    background-color: #323232;
    padding-top: 15px;
    border-width: 0.5px 1px 0.5px 1px;
    border-style: solid;
    border-color: #daa520;
    text-align: center;
}

.newsletter-container .newsletter-title {
    text-shadow: 1px 1px #fafafa;
    margin-bottom: 15px;
}

.newsletter-container input[type="email"] {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding: 4px;
    margin: 15px;
    border: 2px solid #daa520;
}

.newsletter-container input[type="submit"] {
    width: 30%;
    box-sizing: border-box;
    padding: 4px;
    margin: 15px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #daa520;
    color: #fafafa;
    border: 1px solid #fafafa;
}

.newsletter-container input[type="submit"]:hover {
    background-color: #fafafa;
    color: #daa520;
    border: 1px solid #daa520;
    border-radius: 10px;
}






/* Scroll to the top button */
#top-of-the-page-btn {
  position: fixed; 
  bottom: 25px; 
  right: 25px; 
  z-index: 99; 
  border: 1px solid #fafafa; 
  background-color: #daa520; 
  color: #fafafa; 
  padding: 10px; 
  border-radius: 50px; 
  font-size: 16px; 
}

#top-of-the-page-btn:hover {
  background-color: #fafafa; /* Add a dark-grey background on hover */
  color: #daa520;
  border: 1px solid #daa520;
}