@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Noto+Sans+JP:wght@300&display=swap');

* {
    box-sizing: border-box;
}


h1,
h2,
h3 {
    font-family: "Just Another Hand", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}

p {
    font-size: 18px;
    font-family: "Noto Sans Jp", sans-serif;
}


/* The Navigation Bar */
.nav-container {
    padding: 0;
}
.navbar {
    background-color: #323232;
    opacity: 0.9;
    border: 1px solid #daa520;
    width: 100vw;
    height: auto;
    position: fixed;
    
}

.navbar .logo-title {
    text-decoration: none;
    font-family: "Just Another Hand", sans-serif;
    font-size: 30px;
    color: #daa520;
    text-shadow: 0.5px 0.5px #fafafa;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.navbar-toggler i {
    color: #fafafa;
}

.navbar .collapse .navbar-collapse {
    background-color: #323232;
    opacity: 0.9;
    border: 1px solid #daa520;
}


.navbar .nav-link {
    color: #fafafa;
    font-weight: 600;
    font-size: 18px;
    margin: 0 15px 0 15px;
    letter-spacing: 2px;
}

.navbar .nav-link:hover {
    background-color: #daa520;
}


/* --- Cover Image */
#cover-bg-img {
    height: 75vh;
    width: 100vw;
    margin-right: 0;

    background-image: url("../images/other-vegan-pancakes.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

@media screen and (max-width: 992px) {
    #cover-bg-img {
        visibility: hidden;
    }
}

#cover-img-container {
    height: 75vh;
    width: 100vw;
    margin-right: 0;
}

/* ------- Cover Img CTA btn  ---- */

.order-cta-container {
    background-color: #323232;
    opacity: 0.9;
    color: #daa520;
    border: 1px solid #daa520;
    text-align: center;
    margin: 0;
    padding: 0;
    position: absolute;

}

.order-cta-container h3 {
    text-transform:capitalize;
    text-shadow: 1px 1px#fafafa; 
    font-size: 28px;
}

.order-cta-container .btn, .btn-dark {
    margin-bottom: 0.5vw;
    padding: 0.25vw;
    background-color: #daa520;
    color: #fafafa;
    border: 2px solid #fafafa;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.25vw;
    
}

.order-cta-container .btn:hover {
    margin-bottom: 0.5vw;
    padding: 0.25vw;
    background-color: #fafafa;
    color: #daa520;
    border: 2px solid #daa520;
    border-radius: 25%;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.25vw;
}

/* About Us Section ------------------------------------------------ */

/* --- Bio */
.opening-bio {
    background-color: #323232;
    color: #fafafa;
}

.short-bio h3 {
    color: #daa520;
    text-shadow: 1px 1px #fafafa;
    font-size: 30px;
}
.short-bio hr {
    border: 2px solid #daa520;
}
